:root {
  --primary: #6366f1;   /* Indigo */
  --secondary: #ec4899; /* Pink */
  --accent: #22c55e;    /* Green */
}


.home {
  width: 100%;
}

/* Navbar */
.nav {
  height: 64px;
  padding: 0 48px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  backdrop-filter: blur(9px);
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 20px;
}

.nav h1 {
  font-size: 20px;
  font-weight: 700;
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.nav-links a {
  margin-left: 24px;
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: #fbf9f9;
  text-decoration: none;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
 


.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: var(--primary);
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  transform: translateY(-4px) scale(1.05);
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Mobile nav toggle */
.nav-toggle {
  display: none;
  background: none;
  border: none;
  color: #fbf9f9;
  cursor: pointer;
  padding: 8px;
}
@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }
  .nav-links {
    display: none  !important;
  }
  .nav {
    padding: 0 20px;
    position: relative;
  }
  .nav-links.active { 
    display: none ;
    position: absolute;
    top: 64px;
    right: 20px;
    background: rgba(11,16,32,0.95);
    padding: 12px 16px;
    border-radius: 10px;
    flex-direction: column;
    gap: 8px;
  }
  .nav-links.active {
    display: flex !important;
  }
  .nav-links a { margin-left: 0; color: white; }

  .hero {
    margin-top: 8%;
  }
  .hero h2 {
    font-size: 28px;
  }
  .preview-canvas {
    height: 220px;
    margin-left: 0;
  }
  .hero-buttons {
    flex-direction: column;
    width: 100%;
  }
  .hero-buttons button {
    width: 100%;
  }
  .follow-us {
    width: 100%;
    margin-right: 0;
  }
  .page {
    padding: 40px 20px;
  }
}

/* Hero Section */
.hero {
  padding: 0 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  gap: 20px;
  color: white;
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    margin-top: 20%;
    margin-bottom: 30px;
  } 
}

.heading {
  font-size: 40px;
  font-weight: 700;
  max-width: 700px;
}

.hero p {
  margin-top: 16px;
  max-width: 520px;
  color: #a78bfa;
  font-size: 18px;
  opacity: 0.9;
}

/* BUTTONS */
.hero-buttons {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.primary-btn {
  padding: 16px 28px;
  border-radius: 999px;
  border: none;
  background: linear-gradient(90deg,#6366f1,#ec4899);
  color: white;
  font-weight: 600;
  box-shadow: 0 20px 40px rgba(99,102,241,0.4);
}

.secondary-btn {
  padding: 16px 28px;
  border-radius: 999px;
  background: transparent;
  border: 1px solid #ccc;
}

.primary-btn:hover, .secondary-btn:hover {
  transform: translateY(-4px) scale(1.05);
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}
.heading span {
  background: linear-gradient(90deg, #bc3f79, #52a2c4);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text {
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-preview {
  border-width: 2px;
  border-color: #fbf9f914;
  background: linear-gradient(
    135deg,
    rgba(40, 50, 65, 0.995),
    rgba(40, 41, 55, 0.68)
  );
  border-radius: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  position: relative;
}

.window-dots {
  display: flex;
  gap: 8px;
  padding: 12px;
}
.dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgba(255, 0, 0, 0.6);
}
.dot1{
  background-color: rgba(255, 0, 0, 0.6);
}
.dot2{
  background-color: rgb(224, 224, 35);
}
.dot3{
  background-color: rgba(0, 255, 0, 0.6);
}

.preview-canvas {
  width: 480px;
  height: 320px;
  background-color: #0b1020;

  /* DOT GRID */
  background-image:
    radial-gradient(circle at 1px 1px, rgba(255,255,255,0.08) 1px, transparent 0);
  background-size: 22px 22px;

  overflow: hidden;
  border-radius: 20px;
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .hero-preview {
    width: 100%;
    margin: 20px auto;
  }
  .preview-canvas {
    width: 95%;
    height: 320px;
  }
  
}
.node {
  position: absolute;
  text-align: center;
  align-items: center;
  text-align: center;
  animation: float 4s ease-in-out infinite;
}
.dot-node {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  align-items: center;
  animation: float 7s ease-in-out infinite;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}
.node-trigger{
  top: 12%;
  left: 8%;
  animation-delay: .4s; 
}
.green{
  background: linear-gradient(90deg, #22c55e, #16a34a);
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  width: 50px;
  height: 50px;
  margin-bottom: 0px;
}
.node p{
  color: white;
  font-size: 12px;
  font-weight: 700;
  margin-top: 5px;
}
.dot-green{
  background: #c52522;
  top: 36%;
  left: 20%;
}
.node-ai{
  top: 40%; 
  left: 36%; 
  animation-delay: .2s; 
}
.purple{
  background: linear-gradient(90deg,#8b5cf6,#6366f1); 
  border-radius: 15px;
  width: 50px;
  height: 50px;
  margin-bottom: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.dot-purple{
  background: #22c522;
  top: 55%;
  left: 46%;
}
.blue{
  background: linear-gradient(90deg,#3b82f6,#2563eb); 
  border-radius: 15px;
  width: 50px;
  height: 50px;
  margin-bottom: 0px; 
  align-items: center;
  display: flex;
  justify-content: center;
}
.node-logic{
  top: 62%; 
  left: 70%; 
  animation-delay: .7s;
}
.dot-blue{
  background: #c5c122;
  top: 70%;
  left: 85%;
}
.pink{
  background: linear-gradient(90deg,#ec4899,#db2777); 
  border-radius: 15px;
  width: 50px;
  height: 50px;
  margin-bottom: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.node-action{
  top: 18%; 
  left: 82%; 
  animation-delay: .0s;
}
.dot-pink{
  background: #22c5c5;
  top: 18%;
  left: 74%;
}


.floating-badge {
  position: absolute;
  bottom: -20px;
  left: -20px;
  background: linear-gradient(90deg,#6366f1,#ec4899);
  padding: 8px 14px;
  border-radius: 999px;
  font-size: 13px;
  color: white;
}



/* GENERAL */
.section {
  padding: 96px 48px;
}

.header {
  font-size: 32px;
  margin-bottom: 10px;

  background: linear-gradient(
    90deg,
    var(--primary),
    var(--secondary)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 24px;
}

.card {
  padding: 32px;
  background: linear-gradient(
    135deg,
    rgba(99,102,241,0.08),
    rgba(236,72,153,0.08)
  );
  border-radius: 20px;

  font-size: 16px;
  backdrop-filter: blur(10px);

  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 30px 60px rgba(99,102,241,0.25);
}

.symbole {
  width: 60px;
  height: 60px;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  transition: all 0.3s ease;
}
.card:hover .symbole {
  transform: scale(1.1);
}

.s-1 {
 background: linear-gradient(135deg, rgba(34, 211, 238, 0.6) 0%, rgba(59, 130, 246, 0.7) 100%);
}
.s-2 {
 background: linear-gradient(135deg, rgba(228, 34, 238, 0.6) 0%, rgba(246, 59, 184, 0.7) 100%);
}
.s-3 {
 background: linear-gradient(135deg, rgba(238, 99, 34, 0.6) 0%, rgba(246, 230, 59, 0.7) 100%);
}
.s-4 {
 background: linear-gradient(135deg, rgba(177, 34, 238, 0.6) 0%, rgba(246, 59, 59, 0.7) 100%);
}
.s-5 {
 background: linear-gradient(135deg, rgba(88, 238, 34, 0.6) 0%, rgba(59, 246, 240, 0.7) 100%);
}
.s-6 {
 background: linear-gradient(135deg, rgba(65, 34, 238, 0.6) 0%, rgba(143, 59, 246, 0.7) 100%);
}

.card h4 {
  font-size: 20px;
  margin-bottom: 12px;
  background: linear-gradient(90deg, rgba(99,102,241,0.8), rgba(236,72,153,0.8));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* APPLICATION CARDS */
.app-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 24px;
}
.app-card {
  padding: 24px;
  background: #124;
  backdrop-filter: blur(12px);
  border-radius: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.app-card:hover {
  transform: translateY(-10px) scale(1.04);
  box-shadow: 0 30px 60px rgba(34, 113, 123, 0.749);
  outline: 1px solid #22d3ee;
  outline-offset: 0px;
}

.app-card h4{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 12px 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 18px;
  margin-bottom: 12px;
  border: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}
.app-1 {
  background: linear-gradient(
  135deg,
  rgba(168, 85, 247, 1) 0%,
  rgba(236, 72, 153, 1) 100%
);

}
.app-2{
  background: linear-gradient(
  135deg,
  rgba(59, 130, 246, 1) 0%,
  rgba(34, 211, 238, 1) 100%
);

}
.app-3{
  background: linear-gradient(
  135deg,
  rgba(34, 197, 94, 1) 0%,
  rgba(16, 185, 129, 1) 100%
);

}
.app-4{
  background: linear-gradient(
  135deg,
  rgba(249, 115, 22, 1) 0%,
  rgba(236, 72, 153, 1) 100%
);

}
.app-5{
  background: linear-gradient(
  135deg,
  rgba(250, 204, 21, 1) 0%,
  rgba(249, 115, 22, 1) 100%
);

}
.app-6{
  background: linear-gradient(
  135deg,
  rgba(20, 184, 166, 1) 0%,
  rgba(59, 130, 246, 1) 100%
);

}
.app-7{
  background: linear-gradient(
  135deg,
  rgba(244, 114, 182, 1) 0%,
  rgba(139, 92, 246, 1) 100%
);

}
.app-8{
  background: linear-gradient(
  135deg,
  rgba(239, 68, 68, 1) 0%,
  rgba(249, 115, 22, 1) 100%
);

}
.app-9{
  background: linear-gradient(
  135deg,
  rgba(99, 102, 241, 1) 0%,
  rgba(59, 130, 246, 1) 100%
);

}
.app-10{
  background: linear-gradient(
  135deg,
  rgba(100, 116, 139, 1) 0%,
  rgba(30, 41, 59, 1) 100%
);

}
.app-11{
  background: linear-gradient(
  135deg,
  rgba(34, 211, 238, 1) 0%,
  rgba(163, 230, 53, 1) 100%
);

}
.app-12{
  background: linear-gradient(
  135deg,
  rgba(124, 58, 237, 1) 0%,
  rgba(244, 63, 94, 1) 100%
);

}

/* ABOUT INSTUCTORS SECTION */
.about-instructors {
  margin-top: 40px;

}
.instructor-cards {
  width: 100%;
  animation: left-to-right 10s linear infinite;
}
@keyframes left-to-right {
  0% {
    transform: translateX(0%);
  }
  
  100% {
    transform: translateX(-50%);
  }
}
.instructors-container {
  /* Edge blur */
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0px,
    black 20%,
    black calc(100% - 20%),
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0px,
    black 20%,
    black calc(100% - 20%),
    transparent 100%
  );
}
.instructors-container:hover .instructor-cards {
  animation-play-state: paused;
}

.instructor-card {
  background: linear-gradient(135deg, rgba(18, 28, 60, 0.8), rgba(17, 18, 48, 0.785));
  backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.instructor-card:hover {
  transform: translateY(-10px) scale(1.04);
  box-shadow: 0 30px 60px #22717b59;
  outline: 1px solid #22d3ee;
  outline-offset: 0px;
}
.instructor-card p{
  margin-top: 8px;
  color: #ccc;
  font-size: 14px;
}
.profile-pic {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto 12px;
}

/* FOLLOW US SECTION */
.spacer {
  background-color: rgba(11, 16, 32, 0.8);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  padding: 40px 20px;
  margin-top: 40px;
  padding-left: 40px;
}

.follow-us {
  width: 40%;
  margin-right: 20px;
}
.follow-us p{
  color: white;
  font-size: 20px;
  margin-bottom: 16px;
}
.follow-us-buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.follow-btn {
  padding: 12px 20px;
  border-radius: 999px;
  border: none;
  background: linear-gradient(90deg,rgba(29, 59, 112, 0.279),rgba(72, 124, 236, 0.379));
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 10px 20px rgba(99,102,241,0.055);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.follow-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 40px rgba(99,102,241,0.6);
}
.courses{
  margin-left: 20px;
  color: rgba(244, 243, 243, 0.6);
  font-size: 18px;
  margin-left: 20px;
  margin-top: 20px;
  list-style-type: none;
  margin: 40px auto;
}
.courses h4{
  color: white;
  font-size: 17px;
  margin-bottom: 16px;
}
.courses li {
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  list-style-type: none;
  transition: color 0.3s ease, text-decoration 0.3s ease, transform 0.3s ease;
}
.courses li:hover{
  color: white;
  font-weight: 600;
  text-decoration: underline;
  transform: translateY(-3px);
}

/* FOOTER */
.footer {
  padding: 32px;
  text-align: center;
  color: #777;
  font-size: 14px;
  background-color: rgba(11, 16, 32, 0.8);
}

hr {
  border: none;
  border-top: 1px solid #333;
  margin-left: 20px;
  margin-right: 20px;
}

/* FADE-IN ANIMATION */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .hero {
    border-radius: 0 0 32px 32px;
  }
}


@media (max-width: 768px) {
  .nav {
    padding: 0 20px;
  }

  

  
  .hero {
    padding: 0 20px;
  }

  .hero h2 {
    font-size: 32px;
  }

  .hero p {
    font-size: 16px;
  }

  .section {
    padding: 64px 20px;
  }
  .spacer {
    flex-direction: column;
    text-align: center;
  }
}

.page {
  padding: 120px 48px;
}

.fade-page {
  animation: pageFade 0.6s ease;
}

@keyframes pageFade {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* SCROLL REVEAL */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.section h3 {
  font-size: 32px;
  margin-bottom: 40px;

  background: linear-gradient(
    90deg,
    var(--primary),
    var(--secondary)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

